
<script>
    $(document).ready(function(){
    var endpoint = '{{ endpoint2 }}'
    console.log(endpoint)
    //var customersDjango = parseInt("{{ customers }}") *2
    //console.log(customersDjango)
    //var labels = []
    var defaultData = []
    var fLen, i
    var cats = []
    var reverse_gradient_flag = []
    //var chartName = "myChart"
    

    $.ajax({
      method: 'GET',
      url: endpoint,
      success: function(data){
        labels = data.teams
        rating = data.lol
        averages = data.averages
        fLen = labels.length

        for (i = 0; i < fLen; i++) {
            defaultData.push({
                label: labels[i],
                backgroundColor: "lightblue", //"rgba(155,221,50,0.2)",
                //pointRadius: 10,
                borderColor: "black",
                data: [{
                    x: rating[2][i],
                    y: rating[5][i],
                    r: 10,
                    label: labels[i]
                }]
            })
        }

        defaultData.push({
          label: "Africa",
          type: "line",
          borderColor: "#3e95cd",
          data: [100, 105],
          fill: false,
          borderWidth: 2,
        })
        
        cats = data.lol2

        reverse_gradient_flag = data.reverse_gradient_flag
        console.log('labels:', labels)
        console.log('defaultdata:', defaultData)
        console.log('fLen', fLen)
        console.log(rating[2])
        console.log('averages:', averages)
        //console.log(typeof data)

//https://stackoverflow.com/questions/42691873/draw-horizontal-line-on-chart-in-chart-js-on-v2?rq=1

//9 Best JavaScript Charting Libraries – Hacker Noon:
//https://www.youtube.com/watch?v=1OK4TJfCzdY
//http://nvd3.org

//https://stackoverflow.com/questions/7716331/calculating-arithmetic-mean-average-in-python
        
        //chart1
        //chartName += i+1;
        var ctx = document.getElementById("myChart1").getContext('2d');

        var gradient = ctx.createLinearGradient(0, 0, 0, 330);
        if (reverse_gradient_flag[i] == 0) {
            gradient.addColorStop(0, 'green');
            gradient.addColorStop(1, 'red');
        } else {
            gradient.addColorStop(1, 'green');
            gradient.addColorStop(0, 'red');
        }
        gradient.addColorStop(0.5, 'grey');
        
        
        var scatterChart = new Chart(ctx, {
            type: 'bubble',
            
            data: {
              labels: labels,
              datasets: defaultData
            },

            options: {

              annotation: {
                annotations: [{
                    //drawTime: 'afterDraw',
                    borderColor: 'grey',
                    borderDash: [2, 2],
                    borderWidth: 2,
                    mode: 'vertical',
                    type: 'line',
                    value: averages[0],
                    scaleID: 'x-axis-0'
                      },
                    {
                    //drawTime: 'afterDraw',
                    borderColor: 'grey',
                    borderDash: [2, 2],
                    borderWidth: 2,
                    mode: 'horizontal',
                    type: 'line',
                    value: averages[1],
                    scaleID: 'y-axis-0'
                      }]
              },

              plugins: {
                datalabels: {
                    color: 'black',
                    align: 'end',
                    anchor: 'end',
                    display: true,
                    font: {
                        weight: 'bold'
                    },
                    formatter: function(value, context) {
                        return context.dataset.data[context.dataIndex].label;
                        }
                }
              },
              legend: {
                text: "fdfskd",
                display: true
              },
              title: {
                display: true,
                text: 'Predicted world population (millions) in 2050'
              }, 
              scales: {
                yAxes: [{ 
                  scaleLabel: {
                    display: true,
                    labelString: "Defensive Rating"
                  }
                }],
                xAxes: [{ 
                  scaleLabel: {
                    display: true,
                    labelString: "Offensive Rating"
                  }
                }]
              },

              
        }
        
        });
        
 
        //console.log(data)
        //console.log(data.customers * 100)
      },
      error: function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })

})

</script>