
<script>

    $(document).ready(function(){
    var endpoint = '{{ endpoint2 }}'
    console.log(endpoint)
    //var customersDjango = parseInt("{{ customers }}") *2
    //console.log(customersDjango)
    var labels = []
    var defaultData = []
    var fLen, i
    var cats = []
    var reverse_gradient_flag = []
    var chartArray = []
    //var chartName = "myChart"
    

    $.ajax({
      method: 'GET',
      url: endpoint,
      success: function(data){
        labels = data.teams
        defaultData = data.lol
        fLen = defaultData.length
        cats = data.lol2
        reverse_gradient_flag = data.reverse_gradient_flag
        averages = data.averages
        console.log(labels)
        console.log(defaultData)
        console.log('fLen', fLen)
        console.log('cats', cats)
        console.log('averages:', averages)
        //console.log(typeof data)


        //vue part start
        var vm = new Vue({
            el: '#vue-app',
            delimiters: ['[[', ']]'],
            data: {
                text: 'Check it!',
                data: defaultData,
                averages: averages
            },
            methods: {
                kokon: function() {
                    //this.text = this.data;
                    for (i=0; i < fLen; i++) {
                        for (j=0; j < labels.length; j++) {
                            this.data[i][j] = (this.data[i][j] - this.averages[i]) / this.averages[i];
                        }
                        console.log('myChart', chartArray[i])
                        chartArray[i].data.datasets[0].data = this.data[i];
                        chartArray[i].options.annotation.annotations[0].value = 0;
                        //myChart.data.labels = x;
                        chartArray[i].update();
                    }
                    
                }
            }
        });
        //vue part end

        //console.log('myChart.data.datasets[0].data', myChart.data.datasets[0].data)
        console.log('vm.data', vm.data)
        console.log('vm.data[0]', vm.data[0])
        console.log('is array', Array.isArray(vm.data[0]))
        console.log('vm.data[0]', typeof(vm.data[0]), vm.data[0])
        //console.log('vm.text', vm.text)

        for (i = 0; i < fLen; i++) {
            //chart1
            //chartName += i+1;
            var ctx = document.getElementById("myChart"+(i+1)).getContext('2d');

            var gradient = ctx.createLinearGradient(0, 0, 0, 330);
            if (reverse_gradient_flag[i] == 0) {
                gradient.addColorStop(0, 'green');
                gradient.addColorStop(1, 'red');
            } else {
                gradient.addColorStop(1, 'green');
                gradient.addColorStop(0, 'red');
            }
            gradient.addColorStop(0.5, 'grey');
            
            
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: [
                    /*
                    {
                        label: "Average",
                        type: "line",
                        borderColor: "#8e5ea2",
                        data: averages[i],
                        fill: false
                    },*/
                    {
                        label: cats[i],
                        data: defaultData[i], //vm.data[i], //
                        backgroundColor: 'grey', //gradient
                        borderColor: 'black', //gradient
                        borderWidth: 1
                    }]
                },
                options: {
                    
                    annotation: {
                        annotations: [{
                            drawTime: 'afterDraw',
                            borderColor: 'grey',
                            borderDash: [2, 2],
                            borderWidth: 2,
                            mode: 'horizontal',
                            type: 'line',
                            value: averages[i],
                            scaleID: 'y-axis-0'
                            }]
                    },
                    
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:false
                            }
                        }]
                    }
                }
            });
            chartArray.push(myChart);
        }
        

        

        
        //console.log(data)
        //console.log(data.customers * 100)
      },
      error: function(error_data){
        console.log("error")
        console.log(error_data)
      }
    })

})

</script>