<!DOCTYPE html>
<html>
  <head>
    
	<title>World population</title>
	
	<!-- Loads the path to your static files -->
    {% load staticfiles %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'teams/style.css' %}">

    <!-- jquery lib -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	
  
  </head>
  <body>
    <div class="wrapper">
      <h1>World population over time {{ number }}</h1>
      <h2>Number of people (in millions) living on earth, the last 500 years {{ object_list }}</h2>

	  <canvas id="myChart1" width="400" height="400"></canvas>

    <canvas id="myChart3" width="400" height="400"></canvas>

    </div>

    
    
    
    <script src="{% static 'teams/script2.js' %}"></script>
  </body>
</html>
