{% extends "base.html" %}
{% load static %}


{% block content %}
<div class='container-fluid'>
      <div class="wrapper">
        <h1>{{ page_name }}</h1>
        <p>Number of people (in millions) living on earth, the last 500 years</p>
        <p>{{ object_list }}</p>
      </div>


      
      <div class='row'>
        
        <div class='col-2'>
          <div class="alert alert-primary" role="alert" style='min-height: 800px;'>
            Sidebar
          </div>
        </div>


        <div class='col-10'>
          
          <div class="alert alert-primary" role="alert" style='min-height: 400px;'>
            Graphs

            


            <h2>JavaScript Arrays</h2>
            <p>The best way to loop through an array is using a standard for loop:</p>
            <p id="demo1"></p>
            <script>
              var fruits, text, fLen, i;
              fruits = ["Banana", "Orange", "Apple", "Mango"];
              fLen = fruits.length;
              text = "<ul>";
              for (i = 0; i < fLen; i++) {
                  text += "<li>" + fruits[i] + "</li>";
              }
              text += "</ul>";
              document.getElementById("demo1").innerHTML = text;
            </script>
            
            <h2>JavaScript Loops</h2>
            <p id="demo2"></p>
            <script>
              var text = "";
              var i;
              for (i = 0; i < 5; i++) {
                  text += "The number is " + i + "<br>";
              }
              document.getElementById("demo2").innerHTML = text;
            </script>

            
            {{ canvas }}

            <div class='row'>
            {% for canva in canvas %}
              {{ forloop.counter }}

              <div class='col'>
                <canvas id="myChart{{ canva }}" height="300"></canvas>
              
              {% if forloop.counter|divisibleby:3 %}
                  </div>
                </div>
                <div class='row'><div class='col-12'><hr/></div>
              {% else %}
                </div>
              {% endif %}
            {% endfor %}
            </div>

            <!--
            <div class='row'>
              <div class='col'>
                <canvas id="myChart1" height="300"></canvas>
              </div>
              
              <div class='col'>
                <canvas id="myChart2" height="300"></canvas>
              </div>
              
              <div class='col'>
                <canvas id="myChart3" height="300"></canvas>
              </div>
            </div>

            <div class='row'>
              <div class='col'>
                <canvas id="myChart4" height="300"></canvas>
              </div>
              
              <div class='col'>
                <canvas id="myChart5" height="300"></canvas>
              </div>
              
              <div class='col'>
                <canvas id="myChart6" height="300"></canvas>
              </div>
            </div>

            <div class='row'>
              <div class='col'>
                <canvas id="myChart7" height="300"></canvas>
              </div>
              
              <div class='col'>
                <canvas id="myChart8" height="300"></canvas>
              </div>
              
              <div class='col'>
                <canvas id="myChart9" height="300"></canvas>
                <canvas id="myChart3" width="400" height="400"></canvas>
              </div>
            </div>

          </div>-->


          <div class="alert alert-primary" role="alert" style='min-height: 400px;'>
            Table

            <div class='row'>
              <div class='col-12'>
                

                <table class="table table-sm table-hover table-dark">
                  {% for object in team_classic_shooting %}

                    {% if forloop.first %}
                      <thead>
                        <tr>

                          {% for tcn in table_col_names %}
                            <th scope="col">{{ tcn }}</th>
                          {% endfor %}
                          
                        </tr>
                      </thead>
                    {% endif %}

                    <tbody>
                      <tr>
                        {% for value in object.values %}
                          <td>{{ value }}</td>
                        {% endfor %}
                      </tr>
                    </tbody>

                  {% endfor %}
                </table>

                {{ table_col_names }}


                <table class="table table-sm table-hover table-dark">
                  {% for object in team_classic_shooting %}

                    {% if forloop.first %}
                    <thead>
                        <tr>
                          <th scope="col">Team</th>
                          <th scope="col">Games</th>
                          
                          <th scope="col">2FG Made</th>
                          <th scope="col">2FG Missed</th>
                          <th scope="col">2FG%</th>

                          <th scope="col">3FG Made</th>
                          <th scope="col">3FG Missed</th>
                          <th scope="col">3FG%</th>

                          <th scope="col">FT Made</th>
                          <th scope="col">FT Missed</th>
                          <th scope="col">FT%</th>
                          

                        </tr>
                      </thead>
                      {% endif %}

                      <tbody>
                        <tr>
                          {% for value in object.values %}
                          <td>{{ value }}</td>
                          {% endfor %}
                        </tr>
                    </tbody>

                  {% endfor %}
                </table>
              


              </div>
              
            </div>

          </div>




        </div>
      

      </div>
      
      
    
    


    </div>

    
    
    
    <script src="{% static 'teams/script4.js' %}"></script>
{% endblock %}
